
# PlanAhead Generated physical constraints 

NET "A1" LOC = U9;
NET "A2" LOC = U8;
NET "B1" LOC = R7;
NET "B2" LOC = R6;
NET "S" LOC = T16;
NET "Z1" LOC = T8;
NET "Z2" LOC = V9;

# PlanAhead Generated IO constraints 

NET "A1" IOSTANDARD = LVCMOS18;
NET "A2" IOSTANDARD = LVCMOS18;
NET "B1" IOSTANDARD = LVCMOS18;
NET "B2" IOSTANDARD = LVCMOS18;
NET "S" IOSTANDARD = LVCMOS18;
NET "Z1" IOSTANDARD = LVCMOS18;
NET "Z2" IOSTANDARD = LVCMOS18;
